<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=Res, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'styles/estilo.css')}}" />
    <script src="{{ url_for('static', filename='javascript/script.js') }}"></script>
    <title>Super Edital</title>
</head>

<body>
    <article class="classePrincial" id="Articleprincipal">
        <div id="divMenuPrincipal" name="divMenuPrincipal">
            <Table id="tbMenu" class="tbMenu" align="right">
                <tr>
                    <th>
                        <a href="/" class="link">Home</a>
                    </th>
                    <th>
                        <a href="/resultado" class="link">Resultados</a>
                    </th>
                    <th>
                        <a href="/login" class="link">Login</a>
                    </th>
                    <th>
                        <a href="/sobre" class="link">Sobre</a>
                    </th>
                </tr>
            </Table>
        </div>
        <br>
        <div>
            <p>
            <h1>Resultados</h1>
            </p>
            <div id="divPrincialResultados" class="divPrincialResultados">
                <table id="tabelaResultado" class="tabelaResultado">
                    <thead>
                    </thead>
                    <tbody>
                        {{ df_html | safe }}
                    </tbody>
                </table>
            </div>
            <a href='/'><button id="btnVoltar" class="btnVoltar" value="Submit">Voltar</button></a>
            <button id="btnExportar" class="btnExportar" value="Submit" onclick="calculaImc()">Exportar</button>
        </div>
    </article>

</body>
<footer>
    <h3>©2023 Super Edital Fatec</h3>
</footer>

</html>