{% extends 'layout.html' %}
{% block content %}
<div class="container">

  <div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-8 col-xl-6">
      <div class="row">
        <div class="col text-center">
          <h1>Cadastro</h1>
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col mt-4">
          <input type="text" class="form-control" placeholder="Nome de Usuário">
        </div>
      </div>
      <div class="row align-items-center mt-4">
        <div class="col">
          <input type="email" class="form-control" placeholder="Email">
        </div>
      </div>
      <div class="row align-items-center mt-4">
        <div class="col">
          <input type="password" class="form-control" placeholder="Senha">
        </div>
        <div class="col">
          <input type="password" class="form-control" placeholder="Confirma Senha">
        </div>
      </div>
      <div class="row justify-content-start mt-4">
        <div class="col">
          <button class="btn btn-primary mt-4">Cadastrar</button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}