{% extends 'layout.html' %}
{% block content %}
<section id="section-about" class="bg-grey">

    <div class="container">
        <div id="home-row" class="row justify-content-center align-items-center">
            <div id="home-column" class="col-md-6">
                <div id="home-box" class="col-md-12">

                    <div class="form-group">
                        <img src="{{ url_for('static', filename = 'images/Imagem3.png')}}" alt="about image"
                            height="245" width="245" class="img-responsive">
                    </div>
                    <h5 class="text-center text-dark">
                        <p>O sistema Super Edital tem com objetivo facilar a
                            busca por concursos públicos de São Paulo e região.</p>
                        <p>As fontes de dados se originam dos sites:</p>
                        <p><b>pciconcursos.com.br, jcconcursos.com.br e concursosnobrasil.com</b></p>
                    </h5>
                    <br>
                </div>
            </div>

        </div>
        <div class="grupo-botoes-divisao">
            <div class="form-group">
                <a href="/pciconcursos"><input type="submit" name="submit" class="btn btn-info btn-md"
                        value="PCI Concursos" id="pcconcurso"></a>
            </div>
            <div class="form-group">
                <a href="/concursos_brasil"><input type="submit" name="submit" class="btn btn-info btn-md"
                        value="Concursos do Brasil" id="cbrasil"></a>
            </div>
            <div class="form-group">
                <a href="/jcconcursos"><input type="submit" name="submit" class="btn btn-info btn-md"
                        value="JC Concursos" id="jcconcurso"></a>
            </div>
        </div>
    </div>
</section>
{% endblock %}