{% extends 'layout.html' %}
{% block content %}
<section id="section-about" class="bg-grey">

    <div class="container">
        <div id="home-row" class="row justify-content-center align-items-center">
            <div id="home-column" class="col-md-6">
                <div id="home-box" class="col-md-12">

                    <div class="form-group">
                        <img src="{{ url_for('static', filename = 'images/Imagem3.png')}}" alt="about image"
                            height="245" width="245" class="img-responsive">
                    </div>
                    <div class="form-group">
                        <input type="text" name="txtBusca" id="txtBusca" class="form-control" placeholder="Buscar Vaga">
                    </div>
                    <div class="form-group">
                        <input type="submit" name="submit" class="btn btn-info btn-md" value="PESQUISAR"
                            onclick="getMotorBusca()">
                    </div>

                    <br>

                    <h4 class="text-center text-info">"Você encontrou o melhor guia de concursos público da cidade de
                        São Paulo.
                        Vamos nessa!"
                    </h4>
                </div>
            </div>
            <br>
        </div>
        <br>
        <div id="divPrincialResultados" class="divPrincialResultados">
        </div>
    </div>
</section>
{% endblock %}