<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'styles/estiloLogin.css')}}" />
    <title>Super Edital</title>
</head>

<body>

    <body>
        <article class="classePrincialLogin" id="principalLogin">
            <div id="divPrincialLogin">
                <br>
                <br>
                <div class="imagemLogin" id="imagemLogin">
                    <img src="{{ url_for('static', filename = 'images/imgLogin.png')}}">
                </div>
                {% block conteudo %}
                <form method="POST" action="/resultado">
                    <p> Login: <input type="text" name="txtUsuario" id="txtUsuario"></input></p>

                    <br>
                    <p>Senha: <input type="text" name="txtSenha" id="txtSenha"></input></p>
                    <br>
                    <br>
                    <a href='/'>
                        <button class="btnEntrar" id="btnEntrar" name="btnEntrar" value="Submit">Entrar</button>
                        <button class="btnVoltar" id="btnVoltar" name="btnVoltar" value="Submit">Voltar</button>
                    </a>
                    <br>
                    <br>
                </form>
                {% endblock %}
            </div>
            <br>
            <br>
            <div id="divTabelaInicial" class="divTabelaInicial">
            </div>
            </div>
        </article>
    </body>
</body>
<footer>
    <h3>©2023. Super Edital Fatec</h3>
</footer>

</html>