<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=Res, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'styles/estilo.css')}}" />
    <title>Super Edital</title>
</head>

<body>
    <article class="classePrincial" id="principal">
        <div id="divPrincialResultados">
            <p>Resultados</p>
            <div id="tabelaResultados">
                <table>
                    <tr>
                        <th>
                            Seq. Resultado
                        </th>
                        <th>
                            Estado
                        </th>
                        <th>
                            Cargo
                        </th>
                        <th>
                            Inscrição Até:
                        </th>
                    </tr>
                    <tr>
                        <td>
                            1
                        </td>
                        <td>
                            SP
                        </td>
                        <td>
                            Auxiliar de Serviços Gerais I
                        </td>
                        <td>
                            20/12/2023
                        </td>
                    </tr>
                </table>
            </div>
            <a href='/'><button id="btnVoltar" value="Submit">Voltar</button></a>
        </div>
    </article>

</body>
<footer>
    <h3>©2023 Super Edital Fatec</h3>
</footer>

</html>