{% extends 'layout.html' %}
{% block content %}
<section id="section-about" class="bg-grey">
    <div class="container">
        <div class="row pt-4">
            <div class="col-md-1"></div>
            <div class="col-md-6 col-sm-12">
                <img src="{{ url_for('static', filename = 'images/iconeSistema.png')}}" alt="about image"
                    class="img-responsive">
            </div>
            <div class="col-md-5 col-sm-12">
                <div class="about-box">
                    <p>O sistema Super Edital tem com objetivo facilar a </p>
                    <p>busca por concursos públicos de São Paulo e região</p>
                    <p>As fontes de dados se originam dos sites:</p>
                    <p>pciconcursos.com.br, jcconcursos.com.br e concursosnobrasil.com</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}