<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'styles/estilo.css')}}" />
    <title>Sobre</title>
</head>

<body>
    <article class="classePrincial" id="Articleprincipal">
        <div id="divMenuPrincipal" name="divMenuPrincipal">
            <Table id="class=" listaMenu" align="right">
                <tr>
                    <th>
                        <a href="/" class="link">Home</a>
                    </th>
                    <th>
                        <a href="/resultado" class="link">Resultados</a>
                    </th>
                    <th>
                        <a href="/login" class="link">Login</a>
                    </th>
                    <th>
                        <a href="/sobre" class="link">Sobre</a>
                    </th>
                </tr>
            </Table>
        </div>
        <div id="divPrincial">
            <br>
            <br>
            <div class="imagemIcone" id="imagemIcone">
                <img src="{{ url_for('static', filename = 'images/iconeSistema.png')}}">
            </div>
            <label>
                <p>"Sobre"</p>
            </label>
        </div>
    </article>
</body>
<footer>
    <h3>©2023. Super Edital Fatec</h3>
</footer>

</html>