.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

.grupo-botoes-divisao {
    display: flex;
    justify-content: center;
}

.divResultado {
    display: flex;
    border: 1px solid #17a2b8;
    border-radius: 5px
}

.resultado-a {
    width: 460px;
    height: 70px;
    margin: 5px;
}

.resultado-b {
    width: 450px;
    height: 70px;
    margin: 5px;
}

.resultado-c {
    width: 200px;
    height: 70px;
    margin: 5px;
}