* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    font: normal bold 16px /normal tahoma;
    background-color: rgb(226, 221, 221);
}

footer {
    width: 100%;
    font: normal 12px /normal tahoma;
    text-align: center;
}

article {
    width: 550px;
    height: 550px;
    text-align: center;
    background-color: rgb(244, 244, 244);
    border-radius: 20px;
    margin: 20px auto 20px;
    padding: 5px;
    overflow: hidden;
    box-shadow: 3px 20px 50px rgb(97, 96, 96);

}

article button {
    width: 100px;
    height: 40px;
    border-radius: 20px;
    font: normal bold 16px /normal tahoma;
    background-color: rgb(233, 233, 233);
}

article table {
    box-align: center;
    margin: 10;
    width: 360px;
}

article .tabela {
    box-align: center;
}

article .titulo {
    background-color: rgb(233, 233, 233);
    border-radius: 10px;
    width: 390px;
    height: 40px;
    text-align: center;
}

article .form {
    border-radius: 10px;
}

article input {
    width: 250px;
    height: 35px;
    border-radius: 20px;
}

article p {
    color: rgb(11, 11, 11);
}

article .btnBusca {
    border-radius: 20px;
}

article .txtBusca {
    float: center;
    background-color: transparent;
    padding-left: 20px;
    font-style: italic;
    font-size: 18px;
    border: 1;
    height: 40px;
    width: 500px;
}

article .divTabelaInicial {
    position: relative;
}

article .tabelaInicial {
    position: absolute;
    top: 50%;
    left: 35%;
}

article .tabelaResultados {
    position: relative;
    width: 800px;
    text-align: center;
    background-color: rgb(136, 149, 199);
    border-radius: 5px;
    margin: 20px auto 20px;
    box-shadow: 3px 20px 50px rgb(97, 96, 96);
}